<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no " />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - Statdrop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <style>

            /*Logo home page*/
            .navbar-brand {
                background: dark;
                width: 100px;
                height: 50px;
                text-shadow: 2px 2px 2px;
            }
            
            .logo img {
                position: absolute;
                margin-top: 15px;
                margin-left: 10px
            }
            .navbar-text {
                color: white;
            }

       
        </style>

        @*Navigation bar*@
        <nav class="navbar navbar-masthead navbar-default navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3" id="navMain">
            <div class="container-fluid">
               


                @*First nav tab*@
                <a class="navbar-header" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Transparent.png" alt="logo" width="75" height="50" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                        @*Second nav tab*@
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @*Third nav tab*@
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Solutions" asp-action="Demo">Solutions</a>
                        </li>

                        @*Fourth nav tab*@
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <button type="button"  class="btn btn-light navbar-btn">Sign in</button>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Statdrop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
