@{
    ViewData["Title"] = "HomePage";
}


@*jumbotron*@
<style>
    .jumbotron {
        height: 100%;
        width: 100%;
        color: #ffffff;
    }
    header.masthead {
        padding-top: 10.5rem;
        padding-bottom: 6rem;
        text-align: center;
        color: #fff;
        background-image: url('/img/florian-olivo-Mf23RF8xArY-unsplash.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    /*  html body {
        background-color: rgba(10, 0, 15, 1);
    }*/
</style>


@*Intro banner*@

<div class="jumbotron text-center" height="200%" style="background: url(/img/florian-olivo-Mf23RF8xArY-unsplash.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    

    <h1>Unlock your potential.</h1>
    <p>Sign up for a free demo.</p>

    @*email signup*@
    <form>
        <div class="input-group">
            <input type="email" class="form-control" size="50" placeholder="Enter Email Address" required>
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger">Sign up</button>
            </div>
        </div>
    </form>
</div>
<br>
<br />


@*Intro*@

<div id="features" class="container-fluid text-sm-center">
    <p>
        Manually recording scrimmage statistics can be time consuming, especially when you need to focus on other critical areas for
        your team before the next tournament. As coaches, we understand that your time is valuable.
        That’s why we’ve designed a powerful tool that uses deep learning and computer vision to help eSport coaches and analysts
        automatically compile practice match statistics, saving you time to do better things.
    </p>
    <br><br />
    <div></div>
</div>

<!-- Features (Grid) -->
<div class="container-fluid bg-3 text-center">


    @*1st row*@
    <div class="col-form-label">
        <div class="jumbotron jumbotron-fluid" style="background: url(/img/florian-olivo-Mf23RF8xArY-unsplash.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <h1>A simple tool to increase game performance</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h3>Hands off</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="~/img/—Pngtree—blue gear_714892.png" class="img-responsive margin" style="width: 50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <h3>Waste no time</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="~/img/—Pngtree—vector clock _3787755.png" class="img-responsive margin" style="width:50%" alt="Image">
        </div>
        <div class="col-sm-4">
            <h3>Client success</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="~/img/76953-trophy-comics-cartoon-trophies-download-free-image.png" class="img-responsive margin" style="width: 50%" alt="Image">
        </div>
    </div>
</div>




@*1st row*@
<div class="col-form-label">
    <div class="jumbotron jumbotron-fluid" style="background: url(/img/OW.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h1>1.</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
</div>


@*2nd row*@
<div class="col-form-label">
    <div class="jumbotron jumbotron-fluid" style="background: url(/img/OW.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
        <h1>2.</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
</div>

@*3rd row*@
<div class="col-form-label">
    <div class="jumbotron jumbotron-fluid" style="background: url(/img/OW.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
        <h1>3.</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
</div>


<br>
<br />

@*add another main image*@
<div class="container-fluid text-center">
    <h2>How it works</h2>
    <p>
        <img src="~/img/five_design-01.png" alt="How it Works" width="1000" height="500" />
    </p>
    <br><br />
    <div></div>
</div>

