@model Statdrop.Models.Solutions

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Solutions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePlayed" class="control-label"></label>
                <input asp-for="DatePlayed" class="form-control" />
                <span asp-validation-for="DatePlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team" class="control-label"></label>
                <input asp-for="Team" class="form-control" />
                <span asp-validation-for="Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamScore" class="control-label"></label>
                <input asp-for="TeamScore" class="form-control" />
                <span asp-validation-for="TeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rival" class="control-label"></label>
                <input asp-for="Rival" class="form-control" />
                <span asp-validation-for="Rival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RivalScore" class="control-label"></label>
                <input asp-for="RivalScore" class="form-control" />
                <span asp-validation-for="RivalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

